EMAIL_POSTGRES_URL='postgresql://postgres:YOUR_DATABASE_PASSWORD@db.gjfyisfuhkwqrzjuvfjd.supabase.co:5432/postgres'
EMAIL_SECRET_ENCRYPTION_KEY='run-npm-run-silent-generate-secret-key'
GOOGLE_OAUTH_CLIENT_ID='your-google-oauth-client-id.apps.googleusercontent.com'
GOOGLE_OAUTH_CLIENT_SECRET='your-google-oauth-client-secret'
SUPABASE_SERVICE_ROLE_KEY='your-supabase-service-role-key'
